In [1]:
%matplotlib inline
import sys, os, time

import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt

import subprocess

## All of the results we have

In [2]:
splits = [
    "de_1m_2013",
    "ny_1m_2013",
    "md_1m_2013",
    "pa_1m_2013",
    "va_1m_2014",
    "wv_1m_2014"
]

In [3]:
output_dirs = [
    "../results/results_epochs_20_1",
    "../results/results_epochs_20_2",
    "../results/results_epochs_20_3",
    "../results/results_epochs_20_4"
]

## Collect all of the results using the `eval_landcover_results.sh` script

In [4]:
results_all_acc = np.zeros((len(output_dirs), len(splits), len(splits)), dtype=float)
results_all_jaccard = np.zeros((len(output_dirs), len(splits), len(splits)), dtype=float)
results_urban_acc = np.zeros((len(output_dirs), len(splits), len(splits)), dtype=float)
results_urban_jaccard = np.zeros((len(output_dirs), len(splits), len(splits)), dtype=float)

for i,output_dir in enumerate(output_dirs):
    for j,train_split in enumerate(splits):
        for k,test_split in enumerate(splits):
            command = "../eval_landcover_results.sh {}/train-output_{}/test-output_{}/log_acc_{}.txt".format(
                output_dir, train_split, test_split, test_split
            )
            text = subprocess.check_output(command.split(" "))
            lines = text.decode('utf-8').split("\n")
            all_acc, all_jaccard = list(map(float,lines[0].split(",")))
            urban_acc, urban_jaccard = list(map(float,lines[1].split(",")))
            
            results_all_acc[i,j,k] = all_acc
            results_all_jaccard[i,j,k] = all_jaccard
            results_urban_acc[i,j,k] = urban_acc
            results_urban_jaccard[i,j,k] = urban_jaccard

In [11]:
results_all_acc[1]

array([[0.942965, 0.886592, 0.87704 , 0.897929, 0.766529, 0.568804],
       [0.832054, 0.823499, 0.818558, 0.834167, 0.77421 , 0.289797],
       [0.919506, 0.903784, 0.924437, 0.894674, 0.67114 , 0.328422],
       [0.826574, 0.847607, 0.860571, 0.918516, 0.751406, 0.737504],
       [0.890895, 0.897978, 0.874989, 0.893669, 0.898185, 0.909459],
       [0.85539 , 0.872286, 0.817446, 0.875221, 0.855955, 0.941123]])

In [6]:
df_all_acc_means = pd.DataFrame(
    results_all_acc.mean(axis=0),
    columns=["test-" + split for split in splits],
    index=["train-" + split for split in splits]
)

In [7]:
df_all_acc_stds = pd.DataFrame(
    results_all_acc.std(axis=0),
    columns=["test-" + split for split in splits],
    index=["train-" + split for split in splits]
)

In [28]:
results_acc_string = np.zeros_like(df_all_acc_means.values, dtype=object)
for i,train_split in enumerate(splits):
    for j,test_split in enumerate(splits):
        results_acc_string[i,j] = "%0.2f (%0.2f)" % (df_all_acc_means.values[i,j]*100, df_all_acc_stds.values[i,j]*100)

In [31]:
df_all_acc_string = pd.DataFrame(
    results_acc_string,
    columns=["test-" + split for split in splits],
    index=["train-" + split for split in splits]
)

In [40]:
df_all_acc_string

,test-de_1m_2013,test-ny_1m_2013,test-md_1m_2013,test-pa_1m_2013,test-va_1m_2014,test-wv_1m_2014
train-de_1m_2013,94.49 (0.17),86.38 (2.68),89.02 (0.86),88.92 (1.18),74.96 (1.22),44.09 (9.17)
train-ny_1m_2013,89.00 (3.42),89.56 (4.19),87.20 (3.65),87.94 (2.77),74.13 (3.00),35.38 (9.27)
train-md_1m_2013,88.60 (7.08),79.86 (13.81),89.99 (4.89),78.43 (17.00),69.49 (6.31),30.91 (12.22)
train-pa_1m_2013,77.12 (18.76),80.35 (12.76),78.59 (16.10),85.18 (11.01),73.74 (10.96),62.06 (13.21)
train-va_1m_2014,87.15 (1.53),86.88 (2.28),85.52 (2.75),85.72 (3.14),85.74 (5.51),78.35 (13.91)
train-wv_1m_2014,81.55 (3.78),86.51 (0.75),78.49 (4.27),87.34 (0.58),83.75 (1.75),94.22 (0.71)